<div class="header" style="padding-top: 4rem; padding-bottom: 1rem;">
  <h2 class="section-title">Life at Lalina</h2>
</div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="./../../../assets/img/bdvn.jpg" class="img-grid">
    <img src="./../../../assets/img/ballpit.jpg" class="img-grid">
    <img src="./../../../assets/img/bdvn3.jpg" class="img-grid">
    <img src="./../../../assets/img/hpbddecor.jpg" class="img-grid">
  </div>
  <div class="column">
    <img src="./../../../assets/img/bdvn2.jpg" class="img-grid">
    <img src="./../../../assets/img/mama.jpg" class="img-grid">
    <img src="./../../../assets/img/slideboy.jpg" class="img-grid">
    <img src="./../../../assets/img/kidshug.jpg" class="img-grid">
  </div>
  <div class="column">
    <img src="./../../../assets/img/tentgirl.jpg" class="img-grid">
    <img src="./../../../assets/img/giadinhlina.jpg" class="img-grid">
    <img src="./../../../assets/img/momcall.jpg" class="img-grid">
    <img src="./../../../assets/img/kidscall.jpg" class="img-grid">
  </div>
  <div class="column">
    <img src="./../../../assets/img/hpbd.jpg" class="img-grid">
    <img src="./../../../assets/img/cleanball.jpg" class="img-grid">
    <img src="./../../../assets/img/working.jpg" class="img-grid">
    <img src="./../../../assets/img/tuthien.jpg" class="img-grid">
  </div>
</div>
