<section class="menu section bd-container" id="service" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">Our services</h1>
  </div>

  <p class="about__description" style="padding-bottom: 3rem;">Sed ut perspiciatis unde omnis iste natus error sit
    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo..</p>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We provide a safe and exciting playground</h2>
      <p class="about__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo.</p>
    </div>

    <img src="assets/img/playground.jpg" alt="" class="about__img">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We provide safe and delicious kids menu</h2>
      <p class="about__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo.</p>
    </div>
    <img src="assets/img/img-kids.jpg" alt="" class="about__img">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We offer private party for small or big group.</h2>
      <p class="about__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo.</p>
    </div>

    <img src="assets/img/bdvn2.jpg" alt="" class="about__img">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We give back to community.</h2>
      <p class="about__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo.</p>
    </div>

    <img src="assets/img/tuthien.jpg" alt="" class="about__img">
  </div>

  <app-img-grid></app-img-grid>

</section>
