<section class="menu section bd-container" id="service" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">Our services</h1>
  </div>

  <p class="about__description" style="padding-bottom: 3rem;">With the desire to become a place full of happiness and satisfaction, we are so proud to provide many extraordinary services to bring the best moments for everyone.</p>

  <div class="service__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We provide a safe and exciting playground</h2>
      <p class="about__description">Let’s explore the special corners of Lalina, where creativity and imagination is embraced. From the luxurious spa, interactive games, lovely mini kitchen with various vegetables and foods, or mini library, there is a wide range of activities that enhance children’s imagination, thinking, and physical abilities while fully enjoying their time.</p>
    </div>

    <img src="assets/img/playground.jpg" alt="" class="service__img reveal">
  </div>

  <div class="service__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We provide healthy and delicious kids menu</h2>
      <p class="about__description">The culinary world of Lalina is also rich and diverse with a premium menu enjoyed by our lovely customers. The tasty and delicious dishes are made from super healthy ingredients and prepared by our experienced chef right from the Lalina kitchen.</p>
    </div>
    <img src="assets/img/img-kids.jpg" alt="" class="service__img reveal">
  </div>

  <div class="service__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We offer private party for small or big groups</h2>
      <p class="about__description">Not only a cozy and luxurious cafe and restaurant, but we also offer an amazing exclusive private party where children enjoy blowing candles, cutting the cake, and engaging in unique and attractive performances, while parents cherish the meaningful moments with wine and delectable dishes.</p>
      <a routerLink="/birthday" routerLinkActive="active"><u> [Read more]</u></a>
    </div>

    <img src="assets/img/bdvn2.jpg" alt="" class="service__img reveal">
  </div>

  <div class="menu__content_text text-center">
    <div class="pb-2">For pricing and support</div>
    <a href="http://m.me/lalinakidscafe" class="button">Contact us</a>
  </div>

  <app-img-grid></app-img-grid>

</section>
