<section class="services section bd-container" id="services">
  <span class="section-subtitle">Offering</span>
  <h2 class="section-title">Our amazing services</h2>

  <div class="services__container  bd-grid">
      <div class="services__content">
          <img src="assets/img/swing.svg" class="services__img">
          <h3 class="services__title">Playground</h3>
          <p class="services__description">We offer lots of toys and playground for your little ones.</p>
      </div>

      <div class="services__content">
          <img src="assets/img/apron.svg" class="services__img">
          <h3 class="services__title">Kids menu</h3>
          <p class="services__description">We offer kids menu for your little ones, we only use the best ingredients with no MSG or preservatives.</p>
      </div>

      <div class="services__content">
          <img src="assets/img/cake.svg" class="services__img">
          <h3 class="services__title">Birthday</h3>
          <p class="services__description">We offer private party for small or big group.</p>
      </div>
  </div>
</section>
