<section class="menu section bd-container" id="menu" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">About us</h1>
  </div>

  <p class="about__description" style="padding-bottom: 3rem;">Lalina is a premium family restaurant and cafe that
    combines safe and clean interactive play areas with lots of toys. We are a place for the whole family to enjoy
    quality time together.</p>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A premium family restaurant</h2>
      <p class="about__description">A brand new venue of its kind in Hanoi. Lalina offers a clean, safe and fun
        environment for kids to play together. At the same time, their parents can relax and enjoy their own time too
        with a restaurant and café menu offering… or they can join in the fun with their kids too!.</p>
    </div>

    <img src="assets/img/restaurantpizza.jpg" alt="" class="about__img reveal">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A clean, safe and exciting playground</h2>
      <p class="about__description">A brand new venue of its kind in Hanoi. Lalina offers a clean, safe and fun
        environment for kids to play together. At the same time, their parents can relax and enjoy their own time too
        with a restaurant and café menu offering… or they can join in the fun with their kids too!.</p>
    </div>
    <img src="assets/img/slideboy.jpg" alt="" class="about__img reveal">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A place to build memory</h2>
      <p class="about__description">Lalina is a place of happiness and joy where parents are delighted to spend every happy time with their kids. There are so many beautiful moments to capture the angelic eyes and smiles of children and the happiness of their parents while watching their kids having fun.</p>
    </div>

    <img src="assets/img/hpbd.jpg" alt="" class="about__img reveal">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">We give back to community</h2>
      <p class="about__description">We are grateful to our guests, and we also want to spread the love and kindness for those who are stricken by misfortune around us. Hereby, Lalina always prepares delicious meals for underprivileged workers or people in difficult circumstances. We understand that everyone deserves to be loved and respected.</p>
    </div>

    <img src="assets/img/tuthien.jpg" alt="" class="service__img reveal">
  </div>
</section>
