<section class="menu section bd-container" id="menu" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">About us</h1>
  </div>

  <p class="about__description" style="padding-bottom: 3rem;">Lalina is a premium family restaurant and cafe that
    combines safe and clean interactive play areas with lots of toys. We are a place for the whole family to enjoy
    quality time together.</p>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A premium family restaurant</h2>
      <p class="about__description">A brand new venue of its kind in Hanoi. Lalina offers a clean, safe and fun
        environment for kids to play together. At the same time, their parents can relax and enjoy their own time too
        with a restaurant and café menu offering… or they can join in the fun with their kids too!.</p>
    </div>

    <img src="assets/img/restaurantpizza.jpg" alt="" class="about__img reveal">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A clean, safe and exciting playground</h2>
      <p class="about__description">A brand new venue of its kind in Hanoi. Lalina offers a clean, safe and fun
        environment for kids to play together. At the same time, their parents can relax and enjoy their own time too
        with a restaurant and café menu offering… or they can join in the fun with their kids too!.</p>
    </div>
    <img src="assets/img/slideboy.jpg" alt="" class="about__img reveal">
  </div>

  <div class="about__container bd-grid">
    <div class="about__data">
      <h2 class="section-title about__initial">A place to build memory</h2>
      <p class="about__description">A brand new venue of its kind in Hanoi. Lalina offers a clean, safe and fun
        environment for kids to play together. At the same time, their parents can relax and enjoy their own time too
        with a restaurant and café menu offering… or they can join in the fun with their kids too!.</p>
    </div>

    <img src="assets/img/hpbd.jpg" alt="" class="about__img reveal">
  </div>
</section>
