<!--========== HOME ==========-->
<section class="home" id="home">
  <div class="home__container bd-container bd-grid">
    <img src="assets/img/logo.png" alt="" class="home__img reveal">

    <div class="home__data">
      <h1 class="home__title">Lalina <br>kids cafe</h1>
      <h2 class="home__subtitle" translate>home.slogan1 <br>home.slogan2</h2>
      <a routerLink="/menu" routerLinkActive="active" class="button">View Menu</a>
    </div>

  </div>
</section>

<!--========== ABOUT ==========-->
<section class="about section bd-container" id="about">
  <div class="about__container  bd-grid">
    <div class="about__data">
      <span class="section-subtitle about__initial">About us</span>
      <h2 class="section-title about__initial">A premium family restaurant</h2>
      <p class="about__description">Lalina is a premium family restaurant and cafe that combines safe and clean
        interactive play areas with lots of toys. We are a place for the whole family to enjoy quality time together.
      </p>
      <a routerLink="about" routerLinkActive="active" class="button">Our story</a>
    </div>

    <img src="assets/img/about.jpg" alt="" class="about__img">
  </div>
</section>

<!--========== SERVICES ==========-->
<section class="services section bd-container" id="services">
  <span class="section-subtitle">Offering</span>
  <h2 class="section-title">Our amazing services</h2>

  <div class="services__container  bd-grid">
    <div class="services__content">
      <img src="assets/img/swing.svg" class="services__img">
      <h3 class="services__title">Playground</h3>
      <p class="services__description">We offer lots of toys and playground for your little ones.</p>
    </div>

    <div class="services__content">
      <img src="assets/img/apron.svg" class="services__img">
      <h3 class="services__title">Kids menu</h3>
      <p class="services__description">We offer kids menu for your little ones, we only use the best ingredients with no
        MSG or preservatives.</p>
    </div>

    <div class="services__content">
      <img src="assets/img/cake.svg" class="services__img">
      <h3 class="services__title">Birthday</h3>
      <p class="services__description">We offer private party for small or big group.</p>
    </div>
  </div>

  <div class="text-center pt-4">
    <a routerLink="/service" routerLinkActive="active"><u>Read more about our services</u></a>
  </div>
</section>

<!--========== MENU ==========-->
<section class="menu section bd-container" id="menu">
  <span class="section-subtitle">Special</span>
  <h2 class="section-title">Menu of the week</h2>

  <div class="menu__container bd-grid">
    <div class="menu__content">
      <img src="assets/img/img-pizza.jpg" alt="Pepperoni Pizza" class="menu__img">
      <h3 class="menu__name">Pepperoni Pizza</h3>
      <span class="menu__detail">Pizza Pepperoni</span>
      <span class="menu__preci">180,000 vnd</span>
      <a href="http://m.me/lalinakidscafe" class="menu__button"><span>Book now</span></a>
    </div>

    <div class="menu__content">
      <img src="assets/img/img-kids.jpg" alt="Amazing Panda" class="menu__img">
      <h3 class="menu__name">Amazing Panda </h3>
      <span class="menu__detail">Gấu trúc vui vẻ</span>
      <span class="menu__preci">120,000 vnd</span>
      <a href="http://m.me/lalinakidscafe" class="menu__button"><span>Book now</span></a>
    </div>

    <div class="menu__content">
      <img src="assets/img/img-spaghetti.jpg" alt="Spaghetti" class="menu__img">
      <h3 class="menu__name">Spaghetti Bolognese</h3>
      <span class="menu__detail">Mì Ý bò bằm</span>
      <span class="menu__preci">130,000 vnd</span>
      <a href="http://m.me/lalinakidscafe" class="menu__button"><span>Book now</span></a>
    </div>

    <div class="menu__content_text">
      <a routerLink="menu" routerLinkActive="active" class="button">Full menu</a>
    </div>

  </div>
</section>

<!--========== CONTACT US ==========-->
<section class="contact section bd-container" id="contact">
  <div class="contact__container bd-grid">
    <div class="contact__data">
      <span class="section-subtitle contact__initial">Let's talk</span>
      <h2 class="section-title contact__initial">Contact us</h2>
      <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we will attend
        you quickly, with our 24/7 chat service.</p>
    </div>

    <div class="contact__button">
      <a href="http://m.me/lalinakidscafe" class="button">Contact us now</a>
    </div>
  </div>
</section>
