<footer class="footer section bd-container">
  <div class="footer__container bd-grid">
      <div class="footer__content">
          <a href="#" class="footer__logo">Lalina kids cafe</a>
          <span class="footer__description">Follow us</span>
          <div>
              <a href="https://www.facebook.com/lalinakidscafe" class="footer__social"><i class='bx bxl-facebook'></i></a>
              <a href="https://www.instagram.com/lalinakidscafe/" class="footer__social"><i class='bx bxl-instagram'></i></a>
              <a href="http://m.me/lalinakidscafe" class="footer__social"><i class='bx bxl-messenger'></i></a>
          </div>
      </div>

      <div class="footer__content">
          <h3 class="footer__title">Services</h3>
          <ul>
              <li><a class="footer__link">Delivery</a></li>
              <li><a class="footer__link">Pricing</a></li>
              <li><a class="footer__link">Kids menu</a></li>
              <li><a class="footer__link">Reserve your spot</a></li>
          </ul>
      </div>
<!--
      <div class="footer__content">
          <h3 class="footer__title">Information</h3>
          <ul>
              <li><a class="footer__link">Event</a></li>
              <li><a class="footer__link">Contact us</a></li>
              <li><a class="footer__link">Privacy policy</a></li>
              <li><a class="footer__link">Terms of services</a></li>
          </ul>
      </div> -->

      <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul>
            <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D21.066004441774%252C105.82596123219%26fbclid%3DIwAR27UAzo_dJymEYz-Nf1IL74AshpEgRbbvMJcNZx1ze8H1XIHUj7gQqV9vM&h=AT1InDiOQ1dqXeG_gFQ4JAK171uQZ4twyp2JYpJfp2fzAzQ17PNFBULWObPz_x9G011gXiqaPDLjEYYywbUELb8ua16g80zvYo2puloM5jHJB81C-cZuaQGoCkXZl6cetaA">9 Tay Ho Street, Quang An, Tay Ho, Hanoi, Vietnam.</a></li>
        </ul>
    </div>

      <div class="footer__content">
          <h3 class="footer__title">Contact</h3>
          <ul>
              <li>Call us: <a href="tel:5554280940">093 628 56 60</a></li>
              <li>Email: <a href="mailto:info@lalinakidscafe.com">info@lalinakidscafe.com</a></li>
          </ul>
      </div>
  </div>

  <p class="footer__copy">&#169; 2021 LP Smile</p>
</footer>
