<footer class="footer section bd-container">
  <div class="footer__container bd-grid">
      <div class="footer__content">
          <a href="#" class="footer__logo">Lalina kids cafe</a>
          <span class="footer__description">Follow us</span>
          <div>
              <a href="https://www.facebook.com/lalinakidscafe" target="_blank" class="footer__social"><i class='bx bxl-facebook'></i></a>
              <a href="https://www.instagram.com/lalinakidscafe/" target="_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
              <a href="http://m.me/lalinakidscafe" target="_blank" class="footer__social"><i class='bx bxl-messenger'></i></a>
          </div>
      </div>

      <div class="footer__content">
          <h3 class="footer__title">Services</h3>
          <ul>
              <li><a class="footer__link">Delivery</a></li>
              <li><a class="footer__link" routerLink="/birthday">Birthday party</a></li>
              <li><a class="footer__link">Kids menu</a></li>
              <li><a class="footer__link">Reserve your spot</a></li>
          </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul>
            <li><a href="https://www.google.com/maps/place/Lalina+Kids+Cafe/@21.0660537,105.8238271,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab6fc7784379:0xc53f31ecef6fe32b!8m2!3d21.0660526!4d105.8260164" target="_blank">9 Tay Ho Street, Quang An, Tay Ho, Hanoi, Vietnam.</a></li>
        </ul>
    </div>

      <div class="footer__content">
          <h3 class="footer__title">Contact</h3>
          <ul>
              <li>Call us: <a href="tel:5554280940">093 628 56 60</a></li>
              <li>Email: <a href="mailto:info@lalinakidscafe.com">info@lalinakidscafe.com</a></li>
          </ul>
      </div>
  </div>

  <p class="footer__copy">&#169; {{currentYear}} LP Smile</p>
</footer>

<a onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="scrolltop" id="scroll-top">
  <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>
