<section class="menu section bd-container" id="menu" style="padding-top: 0;">
    <div class="home__data">
      <h1 class="home__title">Private birthday party</h1>
    </div>
  
    <p class="about__description" style="padding-bottom: 3rem;">If parents wish to hold a spectacular birthday party for your angels, let us help you to fulfill the desire with our premium birthday party package. We ensure all services are served delicately so you do not need to prepare anything. Just be ready to spend cheerful time together.</p>
  
    <div class="birthday__container bd-grid">
      <div class="about__data">
        <h2 class="section-title about__initial">Professional party booking</h2>
        <p class="about__description">We are proud to organize several successful birthday parties at Lalina. With our dedicated staff, all the little details are well taken care of, from enthusiastic advice to the welcome and serve step. At Lalina, your family's satisfaction is our utmost priority.</p>
      </div>
  
      <img src="assets/img/bd2.jpg" alt="birthday decoration" class="about__img reveal">
    </div>
  
    <div class="birthday__container bd-grid">
      <img src="assets/img/bd1.jpg" alt="birthday decoration" class="about__img reveal">

      <div class="about__data">
        <h2 class="section-title about__initial">Extraordinary themes and atmosphere</h2>
        <p class="about__description">To make the birthday party impressive, we offer a variety of special party themes, unique decorations, and colorful balloons in an extremely clean and safe space to make the most unforgettable birthday party ever for kids. Also, children are free to meet various favorite characters such as Olaf, magician, Elsa on their remarkable day.</p>
      </div>
    </div>
  
    <div class="birthday__container bd-grid">
      <div class="about__data">
        <h2 class="section-title about__initial">Yummy and tasty menu for the party</h2>
        <p class="about__description">Lalina always has a set of food and drink menus to ensure nutritious and enjoyable meals for a whole family during the party. This is such a golden opportunity to experience the perfect cuisine while sharing memorable moments together.</p>
      </div>
  
      <img src="assets/img/bd3.jpg" alt="birthday decoration" class="about__img reveal">
    </div>

    <div class="birthday__container bd-grid">
        <img src="assets/img/bd4.jpg" alt="birthday decoration" class="about__img reveal">
        
        <div class="about__data">
          <h2 class="section-title about__initial">Profession photographer to capture the best family moments</h2>
          <p class="about__description">We are also happy to capture the best time of family when your beloved kids rejoin in spectacular performances and parents raise glasses of wine to celebrate the lovely day of your children. Parents are rest assured to have several awesome photos to share on your Facebook.</p>
        </div>
      </div>
  </section>
  