<section class="about section bd-container" id="about">
  <div class="about__container  bd-grid">
      <div class="about__data">
          <span class="section-subtitle about__initial">About us</span>
          <h2 class="section-title about__initial">A premium family restaurant</h2>
          <p class="about__description">Lalina is a premium family restaurant and cafe that combines safe and clean interactive play areas with lots of toys.  We are a place for the whole family to enjoy quality time together.</p>
          <a routerLink="story" routerLinkActive="active" class="button">Our story</a>
      </div>

      <img src="assets/img/about.jpg" alt="" class="about__img">
  </div>
</section>
