<section class="menu section bd-container" id="menu" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">Lalina's menu</h1>
</div>

  <p class="about__description">Our food uses the best ingredients with no MSG or preservatives.</p>

  <div class="menu__container bd-grid">
      <div *ngFor="let item of menuItems" class="menu__content">
          <img src="{{item.photoUrl}}" alt="Pepperoni Pizza" class="menu__img">
          <h3 class="menu__name">{{item.name}}</h3>
          <span class="menu__detail">{{item.description}}</span>
          <span class="menu__preci">{{item.price}}</span>
          <a class="menu__button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>details...</span></a>
      </div>
  </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Amazing Panda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="menu__content">
          <img src="assets/img/img-pizza.jpg" alt="Pepperoni Pizza" class="menu__img">
          <h3 class="menu__name">Pepperoni Pizza</h3>
          <span class="menu__detail">Delicious pizza</span>
          <span class="menu__preci">180,000 vnd</span>
          <a href="http://m.me/lalinakidscafe" class="menu__button"><span>Book now</span></a>
      </div>
      </div>

    </div>
  </div>
</div>
