<section class="menu section bd-container" id="menu" style="padding-top: 0;">
  <div class="home__data">
    <h1 class="home__title">Lalina's menu</h1>
</div>

  <p class="about__description">Our food uses the best ingredients with no MSG or preservatives.</p>

  <div class="menu__container bd-grid">
      <div *ngFor="let item of menuItems" class="menu__content">
          <img src="{{item.photoUrl}}" alt="Pepperoni Pizza" class="menu__img">
          <h3 class="menu__name">{{item.name}}</h3>
          <span class="menu__detail">{{item.description}}</span>
          <span class="menu__preci">{{item.price}}</span>
          <a class="menu__button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="passDataToModal(item.id)"><span>details...</span></a>
      </div>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0" style="border-radius: 0.75rem;">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="exampleModalLabel">{{selected.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="menu__content" style="box-shadow: none;">
          <img src="{{selected.photoUrl}}" alt="Pepperoni Pizza" class="menu__img w-75 rounded">
          <span class="menu__preci text-center pb-1">{{selected.price}}</span>
          <span class="menu__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
          <a class="menu__button" data-bs-dismiss="modal"><span>Close</span></a>
      </div>
      </div>
    </div>
  </div>
</div>
